@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1ac1dd;
  font-family: "Times New Roman", Times, serif;
  background-image: "[url('../assets/JaMap.jpg')]";
}
